{% extends "base_registration.html" %}

{% block content %}
    {% if validlink %}
        <p>Por favor informe (e confirme) sua nova senha.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova senha:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirme a senha:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Mudar senha" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Redefinição de senha falou</h1>
        <p>O link de definição da senha é inválido, possivelmente porque já foi usado. Por favor faça uma nova redefinição de senha.</p>
    {% endif %}
{% endblock %}