{% extends "base_generic_menu.html" %}
{% block include %}
    {% load static %}
    <script type="text/javascript" charset="utf8" src="{% static 'investmentApp/js/tunnel_list.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Lista de túneis configurados</h2>
        <table id="tunnels_table" class="display">
            <thead>
                <tr>
                    <th>Ativo</th>
                    <th>Última configuração</th>
                    <th>Período de checagem</th>
                    <th>Última atualização</th>
                    <th>Última cotação</th>
                    <th>Mudança percentual</th>
                    <th>Preço mínimo</th>
                    <th>Preço máximo</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for tunnel in object_list %}
                    <tr>
                        <td>{{ tunnel.assetid.code }}</td>
                        <td data-order="{{ tunnel.date_updated|date:'Ymdhis' }}">{{ tunnel.date_updated|date:"d/m/Y H:i:s" }}</td>
                        <td>{{ tunnel.period|time:"H:i" }}</td>
                        {% if tunnel.cotationid is not None %}
                            <td data-order="{{ tunnel.cotationid.updated_at|date:'Ymdhis' }}">{{ tunnel.cotationid.updated_at|date:"d/m/Y H:i:s" }}</td>
                            <td data-order="{{ tunnel.cotationid.price|floatformat:2 }}">{{ tunnel.cotationid.currency }} {{ tunnel.cotationid.price|floatformat:2 }}</td>
                            <td data-order="{{ tunnel.cotationid.change_percent|floatformat:3 }}" data-search="{{ tunnel.cotationid.change_percent|floatformat:3 }}">
                                {% if tunnel.cotationid.change_percent > 0 %}
                                    <i class="bi bi-arrow-up aumento"></i>
                                {% elif tunnel.cotationid.change_percent < 0 %}
                                    <i class="bi bi-arrow-down queda"></i>
                                {% endif %}
                                {{ tunnel.cotationid.change_percent|floatformat:3 }} %
                            </td>
                        {% else %}
                            <td></td>
                            <td></td>
                            <td></td>
                        {% endif %}
                        <td>{{ tunnel.min_price|floatformat:2 }}</td>
                        <td>{{ tunnel.max_price|floatformat:2 }}</td>
                        <td><a href="/investmentApp/show-cotation/{{ tunnel.pk }}" title="Visualizar cotações"><i class="bi bi-search ml-1 mr-1"></i></a></td>
                        <td><a href="/investmentApp/update-tunnel/{{ tunnel.pk }}" title="Editar túnel"><i class="bi bi-pencil-square ml-1 mr-1"></i></a></td>
                        <td><a href="/investmentApp/delete-tunnel/{{ tunnel.pk }}" title="Excluir túnel"><i class="bi bi-x-square ml-1 mr-1"></i></a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container text-right pt-2">
            <a class="btn btn-lg btn-success" href="/investmentApp/update-tunnel/0">Criar novo túnel</a>
        </div>
    </div>
{% endblock %}